<h4 class="text-center mt-3" id="body" style="font-size: 35px;">Local {{ nombre }}
  <button class="btn" [hidden]="botones" (click)="mostrarForm()">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -1 401.52289 401" width="20px">
      <path
        d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
      <path
        d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
    </svg>
  </button>
</h4>



<form id="formulario" id="body" [hidden]="formulario">
  <div class="form-row">
    <div class="form-group offset-3">
      <button class="btn" (click)="ocultarForm()">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 329.26933 329" width="20px">
          <path
            d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
        </svg>
      </button>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="form-group offset-3 col-6">
      <label>Nombre</label>
      <input class="form-control" [(ngModel)]="nombre" type="text" name="nombre">
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6">
      <label>Dirección</label>
      <input class="form-control" [(ngModel)]="direccion" type="text" name="direccion">
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6">
      <label>Sector</label>
      <select class="form-control" id="sector" name="sector" [(ngModel)]="sectorSeleccionado">
        <option *ngFor="let item of sectores" [ngValue]="item.id">{{item.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6" disabled>
      <label>Asociados</label>
      <input class="form-control" [(ngModel)]="asociados" type="text" name="asociados" readonly>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group offset-4 col-1">
      <button (click)="menuAnyadir()" class="btn btn-outline-primary">Añadir Asociado</button>
    </div>
    <div class="form-group offset-2 col-1">
      <button (click)="menuEliminar()" class="btn btn-outline-danger">Eliminar Asociado</button>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-5 col-2 text-center">
      <button class="btn btn-outline-primary" (click)="guardarCambios()">Guardar Cambios</button>
    </div>
  </div>

</form>

<div [hidden]="botones" id="body">
  <div class="form-row mt-5">
    <div class="form-group offset-2 col-2 text-center">
      <button class="btn btn-outline-success mt-2" (click)="cogerTurno()">Coger Turno</button>
    </div>
    <div class="form-group offset-0 col-4 text-center">
      <button class="btn mt-2 w-100 border border-dark rounded" (click)="pasarTurno()">Pasar Turno
        <h3 style="font-size: 70px;">{{ turnoActual }}<p style="font-size: 20px;">Último turno: {{ turnoUltimo }}</p></h3>
        <p class="text-center" style="color: #9d0208;">Clientes esperando: {{ esperando }}</p>
      </button>
    </div>
    <div class="form-group offset-0 col-2 text-center">
      <button class="btn btn-outline-dark mt-2" (click)="retrocederTurno()">Retroceder Turno</button>
    </div>
  </div>
</div>

<ng-template #modalAnyadir let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Añadir Asociado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Introduce el id del local: </label><br>
      <input class="form-control" [(ngModel)]="idAsociado" type="number" name="id"><br>
      <button class="btn btn-outline-success" (click)="anyadirAsociado()">Añadir Asociado</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>

<ng-template #modalEliminar let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Eliminar Asociado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <select [(ngModel)]="seleccionado">
        <option *ngFor="let item of eliminar" [ngValue]="item.idLocal">{{ item.nombre }}</option>
      </select>
      <button class="btn btn-danger ml-3" (click)="menuConfirmacion()">Eliminar</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>

<ng-template #modalConfirmacion let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">¿Estas seguro?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="text-center">¿Estas seguro de eliminar el asociado?</h3><br>
      <div class="d-flex justify-content-between ">
        <button class="btn btn-danger ml-3" (click)="eliminarAsociado();modal.close()">Si</button>
        <button class="btn btn-info mr-3" (click)="modal.close()">No</button>
      </div>

    </div>
  </div>

</ng-template>

<ng-template #modalTurno let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Turno asignado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center" style="font-size: 100px;">{{ turnoUltimo }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>
