<h4 class="text-center mt-3" id="body">Editar local {{ nombre }}</h4>

<div class="text-center mt-5">
  <button class="btn btn-outline-primary" [hidden]="botones" (click)="mostrarForm()">Editar
    Local</button>
</div>

<form id="formulario" id="body" [hidden]="formulario">
  <div class="form-row">
    <div class="form-group offset-3">
      <button class="btn" (click)="ocultarForm()">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 329.26933 329" width="20px">
          <path
            d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
        </svg>
      </button>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="form-group offset-3 col-6">
      <label>Nombre</label>
      <input class="form-control" [(ngModel)]="nombre" type="text" name="nombre">
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6">
      <label>Dirección</label>
      <input class="form-control" [(ngModel)]="direccion" type="text" name="direccion">
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6">
      <label>Sector</label>
      <select class="form-control" id="sector" name="sector" [(ngModel)]="sectorSeleccionado">
        <option *ngFor="let item of sectores" [ngValue]="item.id">{{item.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-3 col-6" disabled>
      <label>Asociados</label>
      <input class="form-control" [(ngModel)]="asociados" type="text" name="asociados" readonly>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group offset-4 col-1">
      <button (click)="menuAnyadir()" class="btn btn-outline-primary">Añadir Asociado</button>
    </div>
    <div class="form-group offset-2 col-1">
      <button (click)="menuEliminar()" class="btn btn-outline-danger">Eliminar Asociado</button>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="form-group offset-5 col-2 text-center">
      <button class="btn btn-outline-primary" (click)="guardarCambios()">Guardar Cambios</button>
    </div>
  </div>

</form>

<div [hidden]="botones" id="body">
  <div class="form-row mt-5">
    <div class="form-group offset-3 col-2 text-center">
      <button class="btn btn-outline-success mt-2" (click)="cogerTurno()">Coger Turno</button>
      <p>Ultimo Turno: {{ turnoUltimo }}</p>
    </div>
    <div class="form-group offset-2 col-2 text-center">
      <button class="btn btn-outline-danger mt-2" (click)="retrocederTurno()">Retroceder Turno</button>
    </div>
    <div class="form-group offset-4 col-4 text-center mt-5" style="width: 100px; height: 80px;">
      <button class="btn btn-outline-success mt-2 w-100" (click)="pasarTurno()">Pasar Turno</button>
      <p>Turno Actual: {{ turnoActual }}</p>
    </div>
  </div>
  <p class="text-center">Gente esperando: {{ esperando }}</p>
</div>

<ng-template #modalAnyadir let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Añadir Asociado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Introduce el id del local: </label><br>
      <input class="form-control" [(ngModel)]="idAsociado" type="number" name="id"><br>
      <button class="btn btn-outline-success" (click)="anyadirAsociado()">Añadir Asociado</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>

<ng-template #modalEliminar let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Eliminar Asociado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <select id="eliminado" [(ngModel)]="seleccionado">
        <option *ngFor="let item of eliminar" [ngValue]="item.id">{{ item.nombre }}</option>
      </select>
      <button class="btn btn-danger ml-3" (click)="menuConfirmacion()">Eliminar</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>

<ng-template #modalConfirmacion let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">¿Estas seguro?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="text-center">¿Estas seguro de eliminar el asociado?</h3><br>
      <div class="d-flex justify-content-between ">
        <button class="btn btn-danger ml-3" (click)="eliminarAsociado();modal.close()">Si</button>
        <button class="btn btn-info mr-3" (click)="modal.close()">No</button>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </div>

</ng-template>
