@media (min-width: 500px) {
    .nav {
        font-size: 20px;
    }
}

.nav {
  font-family: Opensns;
}

.cuerpo {
    background-color: navajowhite;
    min-height: 400px;
    height: 70vh;
    font-family: Opensns;
}

.modal-content {
  font-family: Opensns;
}

.btn {
  height: 62px;
}

.lista {
    height: 61vh;
    overflow: auto;
}

#ver{
    min-width: 68px;
}

#cancelar{
  min-width: 86px;
}

#pedir{
    min-width: 86px;
}

#eliminar {
    min-width: 45px;
    min-height: 60px;
}
