<div class="container vh-100" id="pagina">
    <div class="row">
        <div class="col-7 h-100 p-0 mt-3" id="principal">
            <div class="border rounded shadow pb-3">
                <h4 class="text-center h4 h-auto p-4" style="background-color: {{ local.sector.backColor }}; font-size: 30px;">{{
                    local.nombre }}</h4>
                <p class="text-center mt-4">Sirviendo número</p>
                <h2 class="text-center h1 mt-3" style="font-size: 119px;">{{ local.turnoActual }}</h2>
                <p class="text-center mt-3" style="font-size: 20px;">Último Turno: {{ local.turnoUltimo }}</p>
            </div>
            <div class="mt-4">
                <h3 class="text-center">Con la colaboración del ayuntamiento de Valencia</h3>
                <img src="../../assets/logo.png" class="w-100">
            </div>
        </div>
        <table class="col-5" id="tabla">
            <tr class="col-12 w-100 border p-0 mt-3 mb-3 rounded shadow" *ngFor="let relacionado of relacionados">
                <h4 class="text-center h4 h-auto p-2" style="background-color: {{ relacionado.sector.backColor }}; font-size: 30px;">{{
                    relacionado.nombre }}</h4><br>
                <p class="text-center">Sirviendo número</p><br>
                <h2 class="text-center" style="font-size: 70px;">{{ relacionado.turnoActual }}</h2><br>
                <p class="text-center mt-3" style="font-size: 20px;">Último Turno: {{ relacionado.turnoUltimo }}</p>
            </tr>
        </table>
    </div>
</div>
