<nav class="nav justify-content-center py-3 text-capitalize font-weight-bold">Cuando me toca</nav>

<div class="cuerpo">
    <div class="container py-5 align-self-center shadow">
        <div class="row">
            <div class="col text-center">
                <h3>Usuario</h3>
                <div class="row h-50 align-items-center">
                    <div class="col">
                        <button class="btn btn-outline-primary" (click)="usuarioNuevo()">Nuevo Usuario</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-info" (click)="usuarioIniciado()">Usuario iniciado</button>
                    </div>
                </div>
            </div>
            <div class="col text-center border-left">
                <h3>Local</h3>
                <p class="mb-2">Nombre del local</p>
                <input>
                <label></label>
                <p class="mb-2 mt-3">Barrio</p>
                <input>
                <label></label><br>
                <button class="mt-4 btn btn-outline-secondary">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<ng-template #myModal let-modal>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')"> 
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        No hay ningun usuario almacenado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Volver</button>
      </div>
    </div>
  
  </ng-template>