@media (min-width: 500px) {
    .nav {
        font-size: 20px;
    }
}

.cuerpo{
    width: 100%;
    background-color: lavender;
    padding-top: 47px;
    padding-bottom: 47px;
}

.container {
    background-color: white;
}

.col {
    margin-top: 20px;
}